# PART 1

## 판다스 자료구조
- 판다스는 파이썬 라이브러리 중 하나로 시리즈(1차원)와 데이터프레임(2차원) 이라는 구조화 된 데이터 형식을 제공
    - 시리즈 : 데이터가 순차적으로 나열된 1차원 배열 형태, 인덱스와 데이터 값이 일대일 대응( 딕셔너리랑 비슷 )
    - 딕셔너리 <-> 시리즈 구조가 비스하기 때문에 서로 변환하는 방법을 많이 이용

In [ ]:
import pandas as pd

# key : value 쌍으로 딕셔너리를 만들고, 변수 dict_data에 저장

dict_data={'a':1,'b':2,'c':3}


# 판다스 Series() 함수로 dictionary를 Series로 변환, 변수 sr에 저장

sr=pd.Series(dict_data)

# sr의 자료형 출력
print(type(sr))
print('\n')

#출력

print(sr)

- 판다스 Series() 함수를 이용하여 파이썬 리스트를 시리즈로 변환.
- but 딕셔너리의 key 값과 달리 리스트에는 인덱스로 변환될 값이 따로 없으므로 지정해주지 않으면 정수형 위치 인덱스가 자동 지정

In [3]:
import pandas as pd

list_data=['2019-01-02',3.14,'ABC',100,True]

sr=pd.Series(list_data)
print(sr)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object

- 시리즈의 index 속성과 values 속성을 이용하여 인덱스 배열과 데이터 값의 배열을 불러올 수 있음.

In [6]:
idx=sr.index
val=sr.values

print(idx)
print('\n')
print(val)

RangeIndex(start=0, stop=5, step=1)


['2019-01-02' 3.14 'ABC' 100 True]

- 원소선택
    - 인덱스를 이용하여 시리즈의 원소 선택.
    - 파이썬 리스트 슬라이싱 기법과 비슷하게 인덱스 범위 지정

In [8]:
import pandas as pd

#튜플을 리스트로 변환 ( 인덱스 옵션 지정 )

tup_data=('영인','2010-05-01','여',True)
sr=pd.Series(tup_data,index=['이름','생년월일','성별','학생여부'])


print(sr)

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

In [9]:
#원소 1개 선택
print(sr[0]) # 정수형 위치 인덱스
print(sr['이름']) # 인덱스 이용

영인
영인

In [10]:
# 인덱스 리스트를 활용한 여러개 원소 지정
print(sr[[1,2]])
print('\n')
print(sr[['생년월일','성별']])

생년월일    2010-05-01
성별               여
dtype: object


생년월일    2010-05-01
성별               여
dtype: object

In [12]:
# 인덱스 범위 지정을 활용한 여러개 원소 지정
print(sr[1:2])
print('\n')
print(sr['생년월일':'성별'])

생년월일    2010-05-01
dtype: object


생년월일    2010-05-01
성별               여
dtype: object

# 데이터프레임
    - 2차원 배열
    - 행/열 ( row / column ) 으로 이루어짐

- 딕셔너리 <-> 데이터프레임 변환 해보기
- key 값이 열, 각 value 값 들이 row가 행

In [14]:
dict_data={'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}

# 판다스 DataFrame() 함수로 딕셔너리를 데이터 프레임으로 변환, 변수 df에 저장
df=pd.DataFrame(dict_data)

print(type(df))
print('\n')

print(df)

<class 'pandas.core.frame.DataFrame'>


   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

- 행 인덱스/열 이름 설정
    :pandas.DataFrame(2차원 배열, index=행 인덱스 배열, columns=열 이름 배열)

In [15]:
df=pd.DataFrame([[15,'남','덕영중'],[17,'여','수리중']],
                index=['준서','예은']
                columns=['나이','성별','학교'])

print(df)
print('\n')

print(df.index)
print('\n')

print(df.columns)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중


Index(['준서', '예은'], dtype='object')


Index(['나이', '성별', '학교'], dtype='object')

- 행 인덱스 변경 : DataFrame 객체.index=새로운 행 인덱스 배열
- 열 인덱스 변경 : DataFrame 객체.columns=새로운 열 이름 배열

In [16]:
df.index=['학생1','학생2']
df.columns=['연령','남녀','소속']


print(df)
print('\n')
print(df.index)
print('\n')
print(df.columns)

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중


Index(['학생1', '학생2'], dtype='object')


Index(['연령', '남녀', '소속'], dtype='object')

- rename 을 이용한 변경
    - 행 인덱스 변경 : DataFrame 객체.rename(index={기존인덱스 : 새 인덱스})
    - 열 인덱스 변경 : DataFrame 객체.rename(columns={기존 이름 : 새 이름}) 
    - replace=True로 해야 원본 객체가 변경

In [19]:
df=pd.DataFrame([[15,'남','덕영중'],[17,'여','수리중']],
                index=['준서','예은'],
                columns=['나이','성별','학교'])

print(df)
print('\n')


df.rename(columns={'나이':'연령','성별':'남녀','학교':'소속'},inplace=True)


df.rename(index={'준서':'학생1','예은':'학생2'},inplace=True)

print(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중


     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

- 행 / 열 삭제 ( drop 을 이용한 )
    - 행 삭제 : DataFrame 객체.drop(행 인덱스 또는 배열, axis=0)
    - 열 삭제 : DataFrame 객체.drop(열 이름 또는 배열, axis=1)

In [25]:
exam_data = {'수학':[90,80,70],'영어':[98,89,95],
            '음악':[85,95,100],'체육':[100,90,90]}

df=pd.DataFrame(exam_data,index=['서준','우현','인아'])
print(df)
print('\n')

#데이터프레임 df를 복제하여 1개 행 삭제

df2=df[:]
df2.drop('우현',inplace=True)

print(df2)
print('\n')

#데이터프레임을 복제하여 2개 행 삭제
df3=df[:]
df3.drop(['우현','인아'],axis=0,inplace=True)

print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90


    수학  영어  음악   체육
서준  90  98  85  100

/Users/wonjae/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/Users/wonjae/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [37]:
exam_data = {'수학':[90,80,70],'영어':[98,89,95],
            '음악':[85,95,100],'체육':[100,90,90]}

df=pd.DataFrame(exam_data,index=['서준','우현','인아'])
print(df)
print('\n')

df4=df[:]
df4.drop('수학',axis=1,inplace=True)
print(df4)
print('\n')

df5=df[:]
df5.drop(['영어','수학'],axis=1,inplace=True)
print(df5)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90


     음악   체육
서준   85  100
우현   95   90
인아  100   90

/Users/wonjae/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/Users/wonjae/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

- 행 선택 
    - loc : 인덱스 이름 / 범위의 끝을 포함한 지정
    - iloc : 정수형 위치 인덱스 / 범위의 끝을 제외한 지정

In [40]:
exam_data = {'수학':[90,80,70],'영어':[98,89,95],
            '음악':[85,95,100],'체육':[100,90,90]}

df=pd.DataFrame(exam_data,index=['서준','우현','인아'])
print(df)
print('\n')

# 행 인덱스를 사용하여 행 1개 선택
label1=df.loc['서준']
position1=df.iloc[0]

print(label1)
print('\n')

print(position1)

print('\n')

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

In [42]:
label2=df.loc[['서준','우현']]
position2=df.iloc[[0,1]]

print(label2)
print('\n')
print(position2)

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

In [43]:
#행 인덱스의 범위를 지정하여 행 선택
label3=df.loc['서준':'우현']
position3=df.iloc[0:1]

print(label3)
print('\n')
print(position3)

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100

- 열 선택
    - 열 1개 선택(시리즈 생성) : DataFrame 객체['열 이름'] 또는 DataFrame 객체.열 이름
    - 열 n개 선택(데이터프레임 생성) : DataFrame 객체[[열1,열2,....]]

In [45]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98,89,95],
           '음악':[85,95,100],
           '체육':[100,90,90]}

df=pd.DataFrame(exam_data)
print(df)

print(type(df))
print('\n')

#'수학' 점수 데이터만 선택. 변수 math1에 저장
math1=df['수학']
print(math1)
print(type(math1))
print('\n')


#'영어' 점수 데이터만 선택
english=df.영어
print(english)
print(type(english))

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
<class 'pandas.core.frame.DataFrame'>


0    90
1    80
2    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>


0    98
1    89
2    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>

In [46]:
#'음악','체육' 점수 데이터를 선택
music_gym=df[['음악','체육']]
print(music_gym)
print(type(music_gym))
print('\n')

math2=df[['수학']]
print(math2)
print(type(math2))

    음악   체육
0   85  100
1   95   90
2  100   90
<class 'pandas.core.frame.DataFrame'>


   수학
0  90
1  80
2  70
<class 'pandas.core.frame.DataFrame'>

- 범위 슬라이싱의 고급 활용
    - 범위 슬라이싱 : DataFrame 객체.iloc[시작인덱스:끝 인덱스: 슬라이싱 간격]

In [50]:
df.iloc[: : 2 ]

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
2  인아  70  95  100   90

In [52]:
df.iloc[0:3:2]

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
2  인아  70  95  100   90

In [53]:
df.iloc[: : -1] # 역순 인덱싱

   이름  수학  영어   음악   체육
2  인아  70  95  100   90
1  우현  80  89   95   90
0  서준  90  98   85  100

- 원소 선택
    - 인덱스 이름 : DataFrame 객체.loc[행 인덱스, 열 이름]
    - 정수 위치 인덱스 : DataFrame 객체.iloc[행 번호, 열 번호]

In [54]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98,89,95],
           '음악':[85,95,100],
           '체육':[100,90,90]}

df=pd.DataFrame(exam_data)

# '이름' 열을 새로운 인덱스로 지정하고 , df 객체에 변경 사항 반영
df.set_index('이름',inplace=True)
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [55]:
a=df.loc['서준','음악']
print(a)

b=df.iloc[0,2]
print(b)

85
85

In [56]:
c=df.loc['서준',['음악','체육']]
print(c)

d=df.iloc[0,[2,3]]
print(d)

e=df.loc['서준','음악':'체육']
print(e)

f=df.iloc[0,2:]
print(f)

음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64

In [57]:
g=df.loc[['서준','우현'],['음악','체육']]
print(g)

h=df.iloc[[0,1],[2,3]]
print(h)

i=df.loc['서준':'우현','음악':'체육']
print(i)

j=df.iloc[0:2,2:]
print(j)

    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90

- 열 추가
    - 열 추가 : DataFrame 객체[ '추가하려는 열 이름'] = 데이터 값

In [58]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98,89,95],
           '음악':[85,95,100],
           '체육':[100,90,90]}

df=pd.DataFrame(exam_data)
print(df)
print('\n')


df['국어']=80
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


   이름  수학  영어   음악   체육  국어
0  서준  90  98   85  100  80
1  우현  80  89   95   90  80
2  인아  70  95  100   90  80

- 행 추가
    - 행 추가 : DataFrame.loc['새로운 행 이름']=데이터 값 ( 또는 배열 )

In [59]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98,89,95],
           '음악':[85,95,100],
           '체육':[100,90,90]}

df=pd.DataFrame(exam_data)
print(df)

print('\n')

df.loc[3]=0
print(df)
print('\n')

df.loc[4]=['동규',90,80,70,60]
print(df)
print('\n')

df.loc['행5']=df.loc[3]
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0
4  동규  90  80   70   60


    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  70  95  100   90
3    0   0   0    0    0
4   동규  90  80   70   60
행5   0   0   0    0    0

- 원소 값 변경
    - DataFrame 객체의 일부분 또는 원소를 선택 = 새로운 값

In [61]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98,89,95],
           '음악':[85,95,100],
           '체육':[100,90,90]}

df=pd.DataFrame(exam_data)

df.set_index('이름',inplace=True)
print(df)
print('\n')

df.iloc[0][3]=80
print(df)
print('\n')

df.loc['서준']['체육']=90
print(df)
print('\n')

df.loc['서준','체육']=100
print(df)
print('\n')

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악  체육
이름
서준  90  98   85  90
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [62]:
df.loc['서준',['음악','체육']]=50
print(df)
print('\n')


df.loc['서준',['음악','체육']]=100,50
print(df)

    수학  영어   음악  체육
이름
서준  90  98   50  50
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악  체육
이름
서준  90  98  100  50
우현  80  89   95  90
인아  70  95  100  90

- 행, 열의 위치 바꾸기
    - DataFrame 객체.transpose() 또는 DataFrame 객체.T

In [63]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98,89,95],
           '음악':[85,95,100],
           '체육':[100,90,90]}

df=pd.DataFrame(exam_data)
print(df)
print('\n')

df=df.transpose()
print(df)
print('\n')

df=df.T
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


      0   1    2
이름   서준  우현   인아
수학   90  80   70
영어   98  89   95
음악   85  95  100
체육  100  90   90


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

- 특정 열을 행 인덱스로 설정
    - set_index() 메소드를 사용하여 데이터 프레임의 특정 열을 행 인덱스로 설정
    - 원본 데이터프레임을 바꾸지 않고 새로운 데이터프레임 객체를 반환
    - DataFrame 객체.set_index(['열 이름'] or '열 이름')

In [64]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98,89,95],
           '음악':[85,95,100],
           '체육':[100,90,90]}

df=pd.DataFrame(exam_data)
print(df)
print('\n')


#특정 열 (column)을 데이터프레임의 행 인덱스로 설정
ndf=df.set_index(['이름'])
print(ndf)
print('\n')

ndf2=ndf.set_index('음악')
print(ndf2)
print('\n')

ndf3=ndf.set_index(['수학','음악'])
print(ndf3)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


     수학  영어   체육
음악
85   90  98  100
95   80  89   90
100  70  95   90


        영어   체육
수학 음악
90 85   98  100
80 95   89   90
70 100  95   90

- 행 인덱스 재배열
    - reindex() 메소드를 사용하여 데이터프레임의 행 인덱스를 새로운 배열로 재지정
    - DataFrame 객체.reindex(새로운 인덱스 배열)

In [66]:
dict_data={'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}

#딕셔너리를 데이터프레임으로 변환, 인덱스를 [r0,r1,r2]로 지정
df=pd.DataFrame(dict_data,index=['r0','r1','r2'])
print(df)
print('\n')

#인덱스를 재지정
new_index=['r0','r1','r2','r3','r4']
ndf=df.reindex(new_index)
print(ndf)
print('\n')

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

- 행 인덱스 초기화
    - reset_index() 메소드를 활용하여 행 인덱스를 정수형 위치 인덱스로 초기화
    - DataFrame.reset_index()

In [67]:
dict_data={'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}

#딕셔너리를 데이터프레임으로 변환, 인덱스를 [r0,r1,r2]로 지정
df=pd.DataFrame(dict_data,index=['r0','r1','r2'])

print(df)
print('\n')

ndf=df.reset_index()
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15

- 행 인덱스를 기준으로 데이터프레임 정렬
    - DataFrame 객체.sort_index()

In [68]:
dict_data={'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}

#딕셔너리를 데이터프레임으로 변환, 인덱스를 [r0,r1,r2]로 지정
df=pd.DataFrame(dict_data,index=['r0','r1','r2'])
print(df)
print('\n')



ndf=df.sort_index(ascending=False)
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

- 특정 열이 데이터 값을 기준으로 데이터프레임 정렬
    - 열 기준 정렬 : DataFrame 객체.sort_values()

In [69]:
dict_data={'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}

#딕셔너리를 데이터프레임으로 변환, 인덱스를 [r0,r1,r2]로 지정
df=pd.DataFrame(dict_data,index=['r0','r1','r2'])
print(df)
print('\n')


ndf=df.sort_values(by='c1',ascending=True)
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

### 산술연산
- 시리즈 연산

In [71]:
student1=pd.Series({'국어':100,'영어':80,'수학':90})
print(student1)
print('\n')

percentage=student1/200

print(percentage)
print('\n')
print(type(percentage))

국어    100
영어     80
수학     90
dtype: int64


국어    0.50
영어    0.40
수학    0.45
dtype: float64


<class 'pandas.core.series.Series'>

- 시리즈 vs 시리즈
    - Series1 + 연산자 + Series2

In [73]:
student1=pd.Series({'국어':100,'영어':80,'수학':90})
student2=pd.Series({'수학':80,'국어':90,'영어':80})

print(student1)
print('\n')
print(student2)


addition=student1+student2
subtraction=student1-student2
multiplication=student1*student2
division=student1/student2
print(type(division))
print('\n')


result=pd.DataFrame([addition,subtraction,multiplication,division],
                    index=['덧셈','뺄셈','곱셈','나누기'])

print(result)

국어    100
영어     80
수학     90
dtype: int64


수학    80
국어    90
영어    80
dtype: int64
<class 'pandas.core.series.Series'>


              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나누기     1.111111     1.125     1.0

Nan 값이 있는 시리즈 연산

In [74]:
import numpy as np

student1=pd.Series({'국어':np.nan,'영어':80,'수학':90})
student2=pd.Series({'수학':80,'국어':90})

print(student1)
print('\n')
print(student2)
print('\n')

addition=student1+student2
subtraction=student1-student2
multiplication=student1*student2
division=student1/student2

print(type(division))
print('\n')


result=pd.DataFrame([addition,subtraction,multiplication,division],
                    index=['덧셈','뺄셈','곱셈','나누기'])


print(result)

국어     NaN
영어    80.0
수학    90.0
dtype: float64


수학    80
국어    90
dtype: int64


<class 'pandas.core.series.Series'>


     국어        수학  영어
덧셈  NaN   170.000 NaN
뺄셈  NaN    10.000 NaN
곱셈  NaN  7200.000 NaN
나누기 NaN     1.125 NaN

- 연산 메소드 사용
    - Series.add(Series2, fill_value=0)

In [75]:
student1=pd.Series({'국어':np.nan,'영어':80,'수학':90})
student2=pd.Series({'수학':80,'국어':90})

print(student1)
print('\n')
print(student2)
print('\n')


sr_add=student1.add(student2,fill_value=0)
sr_sub=student1.sub(student2,fill_value=0)
sr_mul=student1.mul(student2,fill_value=0)
sr_div=student1.div(student2,fill_value=0)


result=pd.DataFrame([sr_add,sr_sub,sr_mul,sr_div],
                   index=['덧셈','뺼셈','곱셈','나눗셈'])

print(result)

국어     NaN
영어    80.0
수학    90.0
dtype: float64


수학    80
국어    90
dtype: int64


       국어        수학    영어
덧셈   90.0   170.000  80.0
뺼셈  -90.0    10.000  80.0
곱셈    0.0  7200.000   0.0
나눗셈   0.0     1.125   inf

- 데이터프레임 연산
    - DataFrame 객체 + 연산자 + 숫자

In [76]:
import seaborn as sns

titanic=sns.load_dataset('titanic')
df=titanic.loc[:,['age','fare']]

print(df.head())
print('\n')
print(type(df))
print('\n')


addition=df+10
print(addition.head())
print('\n')
print(type(addition))

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500


<class 'pandas.core.frame.DataFrame'>


    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500


<class 'pandas.core.frame.DataFrame'>

- 데이터프레임 vs 데이터프레임
    - DataFrame1 + 연산자 + DataFrame2

In [77]:
titanic=sns.load_dataset('titanic')
df=titanic.loc[:,['age','fare']]


print(df.tail())
print('\n')
print(type(df))
print('\n')

addition=df+10
print(addition.tail())
print('\n')
print(type(addition))
print('\n')

subtraction=addition-df
print(subtraction.tail())
print('\n')
print(type(subtraction))

      age   fare
886  27.0  13.00
887  19.0  30.00
888   NaN  23.45
889  26.0  30.00
890  32.0   7.75


<class 'pandas.core.frame.DataFrame'>


      age   fare
886  37.0  23.00
887  29.0  40.00
888   NaN  33.45
889  36.0  40.00
890  42.0  17.75


<class 'pandas.core.frame.DataFrame'>


      age  fare
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0


<class 'pandas.core.frame.DataFrame'>

# PART 2
    - 데이터 입출력

- 외부파일 읽어오기
    - CSV 파일 : 데이터 값을 쉼표로 구분하고 있는 파일 (Comma-Separated Values)
    = pandas.read_Csv(파일경로)

In [93]:
file_path='./read_csv_sample.csv'

df1=pd.read_csv(file_path)
print(df1)
print('\n')

df2=pd.read_csv(file_path,header=None)
print(df2)
print('\n')

df3=pd.read_csv(file_path,index_col=None)
print(df3)
print('\n')

df4=pd.read_csv(file_path,index_col='c0')
print(df4)

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9


    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9


   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9


    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9

- Excel File
    - pandas.read_excel(파일경로)

In [98]:
df1=pd.read_excel('./남북한발전전력량.xlsx')
df2=pd.read_excel('./남북한발전전력량.xlsx',header=None)

print(df1)
print('\n')
print(df2)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]


          0       1     2     3     4     5     6     7     8     9   ...  \
0  전력량 (억㎾h)  발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...
1         남한      합계  1077  1186  1310  1444  1650  1847  2055  2244  ...
2        NaN      수력    64    51    49    60    41    55    52    54  ...
3        NaN      화력   484   573   696   803  1022  1122  1264  1420  ...
4        NaN     원자력   529   563   565   581   587   670   739   771  ...
5        NaN     신재생     -     -     -     -     -     -     -     -  ...
6         북한      합계   277   263   247   221   231   230   213   193  ...
7        NaN      수력   156   150   142   133   138   142   125   107  ...
8        NaN      화력   121   113   105    88    93    88    88    86  ...
9        NaN     원자력     -     -     -     -     -     -     -     -  ...

     19    20    21    22    23    24    25    26    27    28
0  2007  2008  2009  2010  2011  2012  2013  2014  2015  2016
1  4031  4224  4336  4747  4969  5096  5171  5220  5281  5404
2    50    56    56    65    78    77    84    78    58    66
3  2551  2658  2802  3196  3343  3430  3581  3427  3402  3523
4  1429  1510  1478  1486  1547  1503  1388  1564  1648  1620
5     -     -     -     -     -    86   118   151   173   195
6   236   255   235   237   211   215   221   216   190   239
7   133   141   125   134   132   135   139   130   100   128
8   103   114   110   103    79    80    82    86    90   111
9     -     -     -     -     -     -     -     -     -     -

[10 rows x 29 columns]

In [99]:
df=pd.read_json('./read_json_sample.json')
print(df)
print('\n')
print(df.index)

           name  year        developer opensource
pandas           2008    Wes Mckinneye       True
NumPy            2006  Travis Oliphant       True
matplotlib       2003   John D. Hunter       True


Index(['pandas', 'NumPy', 'matplotlib'], dtype='object')

In [101]:
url='./sample.html'

tables=pd.read_html(url)


print(len(tables))
print('\n')

for i in range(len(tables)):
    print("tables[%s]"%i)
    print(tables[i])
    print('\n')
    
df=tables[1]


df.set_index(['name'],inplace=True)
print(df)

2


tables[0]
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9


tables[1]
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True


            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True

- CSV 파일로 저장
    - DataFrame 객체.to_csv("파일경로")

In [102]:
data={'name':['Jerry','Riah','Paul'],
      'algol':["A","A+","B"],
      'basic':["C",'B',"B+"],
      'c++':["B+","C","C+"],
         }

df=pd.DataFrame(data)
df.set_index('name',inplace=True)
print(df)


df.to_csv("./df_sample.csv")

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

In [103]:
df.to_json("./df_sample.json")

In [105]:
df.to_excel("./df_sample.xlsx")

- 여러 개의 데이터프레임을 하나의 Excel 파일로 저장
    - pandas.ExcelWriter('파일경로')

In [107]:
data1={'name':['Jerry','Riah','Paul'],
      'algol':["A","A+","B"],
      'basic':["C",'B',"B+"],
      'c++':["B+","C","C+"],
         }

data2={'c0':[1,2,3],
       'c1':[4,5,6],
       'c2':[7,8,9],
       'c3':[10,11,12],
       'c4':[13,14,15]}

df1=pd.DataFrame(data1)
df1.set_index('name',inplace=True)
print(df1)


df2=pd.DataFrame(data2)
df2.set_index('c0',inplace=True)
print(df2)

writer=pd.ExcelWriter("./df_excelwriter.xlsx")
df1.to_excel(writer,sheet_name="sheet1")
df2.to_excel(writer,sheet_name="sheet2")
writer.save()

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+
    c1  c2  c3  c4
c0
1    4   7  10  13
2    5   8  11  14
3    6   9  12  15